a:link, a:visited	{
				text-decoration:none;
				color:#cc3333;
			}
a:hover			{
				text-decoration:underline;
				color:#ff6666;
			}
a:active		{
				text-decoration:underline;
				color:#ff0000;
			}
html, body		{
				margin:0px;
				padding:0px;
				width:100%;
				height:100%;
				color:#333333;
				text-align:center;
				background:#ffffff fixed;
				overflow:hidden;
				font:12px/1.4 Verdana, Geneva, sans-serif;
			}
h1			{
				color:orange;
				text-align:center;
				font:24px/3 Georgia, Times New Roman, Times, serif;
			}
p			{
				font:14px/2 Georgia, Times New Roman, Times, serif;
			}
#logo			{
				background-image:url('../images/logo.png');
				display:inline-block;
				width:36px;
				height:30px;
				margin:0px;
				padding:0px;
				float:left;
			}
.f1			{
				font-family:Georgia, Times New Roman, Times, serif;
			}
.f2			{
				font-family:Verdana, Geneva, sans-serif;
			}
.nav_item		{
				display:inline-block;
				font:26px/1 Lucida Console, Courier, monospace;
				width:16%;
				height:100%;
				border:0px;
				cursor:pointer;
			}
.nav_item:hover		{
				background:#ffe0e0;
			}
#menu			{
				height:30px;
				width:100%;
				background:#ffffe8;
			}
#map-canvas		{
				height:100%;
				width:67%;
				padding:0px;
				float:left;
				clear:left;
			}
#list			{
				height:100%;
				width:33%;
				margin:auto;
				padding:0px;
				float:left;
				background:#e8ffff;
			}