


<div class="grid-content">
<section class="keymakers block-list with-icons">
  <h3>Locations</h3>
  
<ul>
    
<!-- With a label -->
    
<li class="with-chevron">
      <a href="#">
        <img src="http://s3.amazonaws.com/rapgenius/1360312773_Snoop-Dogg.jpg">
        

<span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;
</span>
        
<span class="block-list-label">Bai Ivan
</span>

<span class="block-list-label">Keymaker
</span>
      </a>
    </li>
    
<li class="with-chevron">
      <a href="#">
        <img src="http://31.media.tumblr.com/66ff2a23ae802bb1229018595607cf57/tumblr_inline_nl1od3KuZa1t5x71d.png">
        

<span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;
</span>
        
<span class="block-list-label">Ceco Shperca
</span>

<span class="block-list-label">Keymaker
</span>
      </a>
    </li>


    

  
</ul>
</section>

</div>